.header {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  flex-direction: row;

}

.localisation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #eaeaea;
}

.text-block {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  color: #353535;
  font-size: 1.1rem;
  font-weight: 700;
}

.div-block {
  width: 25px;
  height: 25px;
  background-image: url('../images/maps-and-flags.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  border-radius: 0px;
  color: #353535;
}

.exploration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6f6f6;
}

.titre_principale {
  display: block;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 28px;
}

.discover {
  font-family: Roboto, sans-serif;
  color: #949494;
  font-size: 24px;
  font-weight: 400;
}

.button_explorer {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 7px 12px -10px #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.fonctionnement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.titre_section {
  margin-right: 20px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  line-height: 34px;
}

.card_fonct {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 1px 10px 10px -14px #000;
}

.purple {
  background-color: #9356dc30;
}

.fonct_txt {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.fonct_nb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: -25px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: transparent;
  background-image: url('../images/rounded.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block-4 {
  padding: 0px;
  border-radius: 60px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #eaeaea;
  font-size: 24px;
}

.fonct_one {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.fonct_phone {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  margin-left: 20px;
  background-image: url('../images/phone.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.fonct_menu {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: url('../images/Menu.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.fonct_restaurant {
  width: 35px;
  height: 35px;
  margin-right: 20px;
  margin-left: 20px;
  background-image: url('../images/shop.svg');
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
}

.restaurant {
  padding: 20px 40px;
  background-color: #eaeaea;
}

.card_restaurant {
  border-radius: 10px;
  background-color: #fff;
}

.card_img_one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url('../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.card_description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.check {
  display: none;
  width: 0;
  background-color: black;
}

.entrees_card:hover .check {
  display: block;
  width: 60px;
}

@keyframes checker {
  0% {display: none; }
  100% { display: block;}
}

.card_like {
  width: 30px;
  height: 30px;
  background-image: url('../images/heart.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.card_like:focus {
  background-image: url('../images/heart_colored.svg');
}

.card_like_rest {
  width: 30px;
  height: 30px;
  background-image: url('../images/heart.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}

.card_like_rest:focus {
  background-image: url('../images/heart_colored.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}

.text-block-5 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.text-block-6 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.columns {
  margin-top: 20px;
  margin-bottom: 20px;
}

.columns-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card_img_two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 10px 10px 0px 0px;
  background-image: url('../images/stil-u2Lp8tXIcjw-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_like_colored {
  width: 30px;
  height: 30px;
  background-image: url('../images/heart.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.card_img_three {
  height: 250px;
  border-radius: 10px 10px 0px 0px;
  background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_img_four {
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url('../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.titre_section_two {
  font-size: 26px;
  line-height: 34px;
}

 /* Loading spinner start*/
 .loader_size {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   position: fixed ;
   background-color: black;
   width: 100%;
   height: 100%;
   z-index: 10;
   opacity: 1;
   animation: spintime 3s forwards 1s;
 }

 .loader {
  top : 50%;
  margin: 0;
  position: fixed;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356dc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity : 1;
  animation: spin 1s ease-in-out forwards;
}

@keyframes spin {
  0% { transform: rotate(0deg); opacity: 1; }
  100% { transform: rotate(360deg); opacity: 0;}
}

@keyframes spintime {
  0% {opacity: 1; z-index : 100}
  100% {opacity: 0; z-index : -100}
}

 /* Loading spinner end */

 .lien {
   text-decoration: none;
   color: #FFFFFF;
 }
  .lien:active {
    color : #FFFFFF;
  }

  .lien_card {
    text-decoration: none;
    color : #333;
  }
  .lien_card:active {
   color : #333;
  }

  @keyframes transition {
  0%   { opacity:0; }
  100% { opacity:1; }
  }

  .card_anim_one {opacity:0;animation: transition .5s ease-in-out .5s forwards;}
  .card_anim_two {opacity:0;animation: transition 1s ease-in-out 1s forwards;}
  .card_anim_three {opacity:0;animation: transition 1.5s ease-in-out 1.5s forwards;}


.footer {
  padding: 20px 40px;
  background-color: #353535;
}

.logo {
  max-width: 150px;
}

.back {
  max-width: 20px;
}

.logo_footer {
  max-width: 150px;
}

.nav_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.propal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.partenariat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.propal_img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding-right: 0px;
  background-image: url('../images/fork.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.propal_txt {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.text-block-8 {
  padding: 5px 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.text-block-9 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.partenariat_img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url('../images/deal.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.partenariat_txt {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.image {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url('../images/right-arrow.png');
  background-position: 50% 50%;
  background-size: cover;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.partenariat-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_footer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.propal-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-2 {
  padding: 20px 40px;
  background-color: #353535;
}

.text-block-10 {
  padding: 5px 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.text-block-11 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.menu {
  margin-top: -20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right:40px;
  padding-left: 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #eaeaea;
}

.titre_menu {
  font-family: Shrikhand, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.image-2 {
  width: 50px;
  height: 50px;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.column-9 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.line {
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
}

.entrees_card {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-radius: 15px;
  background-color: #f6f6f6;
  box-shadow: 0 0 15px -10px #000;
}

.titre_plat {
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.details {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.card_new {
  position: relative;
  left: auto;
  top: 5%;
  right: 5%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #99e2d0;
}

.txt_new {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #078a6a;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly
  }

  .exploration {
    padding-right: 20px;
    padding-left: 20px;
  }

  .fonctionnement {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .titre_section {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card_fonct {
    margin-top: 20px;
    margin-bottom: 20px;
  }



  .card_img_one {
    height: auto;
    min-height: 250px;
  }

  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .column {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .column-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card_img_two {
    height: auto;
    min-height: 250px;
  }

  .card_img_three {
    height: auto;
    min-height: 250px;
  }

  .card_img_four {
    height: auto;
    min-height: 250px;
  }

  .column-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column-6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .columns-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .column-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .column-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero-overlay {
    height: 450px;
    background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    background-size: cover;
  }

  .menu {
    margin-top: -30px;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #eaeaea;
  }

  .titre_menu {
    font-family: Shrikhand, sans-serif;
    font-size: 24px;
  }

  .image-2 {
    width: 35px;
    height: 35px;
  }

  .columns-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .column-9 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .line {
    width: 50px;
    height: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #99e2d0;
  }

  .entrees_card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .card_plat {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px!important;
    border-radius: 15px;
    background-color: #f6f6f6;
  }

  .titre_plat {
    margin-bottom: 5px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .details {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-11 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .prix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .column-12 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .column-13 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .column-14 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .card_new {
    position: absolute;
    top: 5%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
  }

  .exploration {
    padding-right: 20px;
    padding-left: 20px;
  }

  .titre_principale {
    text-align: center;
  }

  .discover {
    text-align: center;
  }

  .card_img_one {
    min-height: 250px;
  }

  .text-block-5 {
    font-size: 18px;
  }

  .text-block-6 {
    font-size: 18px;
  }

  .grid {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .columns {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .columns-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column-3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column-4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .propal {
    padding-right: 0px;
  }

  .partenariat {
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-block-8 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-block-9 {
    padding-left: 0px;
  }

  .button {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .columns-3 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .partenariat-2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav_footer-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .propal-2 {
    padding-right: 0px;
  }

  .text-block-10 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-block-11 {
    padding-left: 0px;
  }

  .column-7 {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .column-8 {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .hero-overlay {
    height: 300px;
    padding: 40px 20px;
    background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    background-size: cover;
  }

  .menu {
    margin-top: -30px;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #eaeaea;
  }

  .titre_menu {
    font-family: Shrikhand, sans-serif;
    font-size: 22px;
  }

  .image-2 {
    width: 20px;
    height: 20px;
  }

  .columns-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .column-9 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .line {
    width: 50px;
    height: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #99e2d0;
    color: transparent;
  }

  .entrees_card {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card_plat {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: #f6f6f6;
    box-shadow: 0 0 15px -10px #000;
  }

  .titre_plat {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .details {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-11 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .prix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .columns-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .column-12 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-13 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
  }

  .localisation {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    font-size: 1rem;
  }

  .div-block {
    width: 20px;
    height: 20px;
  }

  .exploration {
    margin-bottom: 0px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .titre_principale {
    font-size: 24px;
    line-height: 30px;
  }

  .discover {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  .button_explorer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .fonctionnement {
    padding-right: 20px;
    padding-left: 20px;
  }

  .titre_section {
    padding-left: 0px;
    font-size: 22px;
  }

  .card_fonct {
    margin-right: 0px;
    margin-left: 0px;
  }

  .fonct_txt {
    font-size: 14px;
  }

  .fonct_nb {
    width: 25px;
    height: 25px;
    margin-left: -10px;
  }

  .fonct_one {
    font-size: 16px;
  }

  .fonct_phone {
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-bottom: 0px;
  }

  .fonct_menu {
    width: 25px;
    height: 25px;
  }

  .fonct_restaurant {
    width: 25px;
    height: 25px;
  }

  .restaurant {
    padding-right: 10px;
    padding-left: 10px;
  }

  .card_img_one {
    min-height: 150px;
  }

  .card_description {
    padding: 10px 20px;
  }

  .card_like {
    width: 20px;
    height: 20px;
  }

  .text-block-5 {
    margin-bottom: 5px;
  }

  .columns {
    margin-bottom: 0px;
  }

  .columns-2 {
    margin-top: 0px;
  }

  .card_img_two {
    min-height: 150px;
  }

  .card_like_colored {
    width: 20px;
    height: 20px;
  }

  .card_img_three {
    min-height: 150px;
  }

  .card_img_four {
    min-height: 150px;
  }

  .titre_section_two {
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
  }

  .propal_txt {
    font-size: 16px;
  }

  .text-block-8 {
    font-size: 16px;
  }

  .text-block-9 {
    font-size: 16px;
  }

  .partenariat_img {
    margin-right: 10px;
  }

  .partenariat_txt {
    font-size: 16px;
  }

  .text-block-10 {
    font-size: 16px;
  }

  .text-block-11 {
    font-size: 16px;
  }

  .hero-overlay {
    width: 100%;
    height: 220px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .centered-container {
    text-align: left;
  }

  .menu {
    margin-top: -35px;
    padding: 10px 12px 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #eaeaea;
  }

  .titre_menu {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Shrikhand, sans-serif;
    font-size: 22px;
    text-transform: none;
  }

  .image-2 {
    width: 20px;
    height: 20px;
  }

  .columns-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
  }

  .column-9 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .line {
    width: 50px;
    height: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #99e2d0;
  }

  .entrees_card {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card_plat {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: #f6f6f6;
    box-shadow: 0 0 15px -10px #000;
    line-height: 20px;
  }

  .titre_plat {
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .details {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-11 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .prix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .column-12 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .column-13 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-14 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .card_new {
    width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .txt_new {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shrikhand';
  src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
