.header {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.localisation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #eaeaea;
}

.text-block {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  color: #353535;
  font-size: 1.4rem;
  font-weight: 700;
}

.div-block {
  width: 25px;
  height: 25px;
  background-image: url('../images/maps-and-flags.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  border-radius: 0px;
  color: #353535;
}

.exploration {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6f6f6;
}

.titre_principale {
  display: block;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 34px;
}

.discover {
  font-family: Roboto, sans-serif;
  color: #949494;
  font-size: 24px;
  font-weight: 400;
}

.button_explorer {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 7px 12px -10px #000;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}

.fonctionnement {
  padding: 20px 40px;
  background-color: #fff;
}

.titre_section {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 34px;
}

.card_fonct {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 1px 10px 10px -14px #000;
}

.fonct_txt {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.fonct_nb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: -25px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: transparent;
  background-image: url('../images/rounded.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block-4 {
  padding: 0px;
  border-radius: 60px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #eaeaea;
  font-size: 24px;
}

.fonct_one {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.fonct_phone {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background-image: url('../images/phone.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.fonct_menu {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: url('../images/Menu.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.fonct_restaurant {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background-image: url('../images/shop.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.restaurant {
  padding: 20px 40px;
  background-color: #eaeaea;
}

.card_restaurant {
  border-radius: 20px;
  background-color: #fff;
}

.card_img_one {
  min-height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url('../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.card_description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card_like {
  width: 35px;
  height: 35px;
  background-image: url('../images/heart.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.text-block-5 {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.text-block-6 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
}

.columns {
  margin-top: 20px;
  margin-bottom: 20px;
}

.columns-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card_img_two {
  min-height: 400px;
  border-radius: 20px 20px 0px 0px;
  background-image: url('../images/stil-u2Lp8tXIcjw-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_like_colored {
  width: 35px;
  height: 35px;
  background-image: url('../images/heart_colored.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.card_img_three {
  min-height: 400px;
  border-radius: 20px 20px 0px 0px;
  background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_img_four {
  min-height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url('../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  padding: 40px;
  background-color: #353535;
}

.logo {
  max-width: 150px;
}

.logo_footer {
  max-width: 150px;
}

.propal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.partenariat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.propal_img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding-right: 0px;
  background-image: url('../images/fork.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.propal_txt {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.text-block-8 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.text-block-9 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.partenariat_img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-image: url('../images/deal.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.partenariat_txt {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.image {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .exploration {
    padding-right: 20px;
    padding-left: 20px;
  }

  .titre_section {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card_fonct {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card_img_one {
    min-height: 250px;
  }

  .card_img_two {
    min-height: 250px;
  }

  .card_img_three {
    min-height: 250px;
  }

  .card_img_four {
    min-height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .exploration {
    padding-right: 20px;
    padding-left: 20px;
  }

  .titre_principale {
    text-align: center;
  }

  .discover {
    text-align: center;
  }

  .card_img_one {
    min-height: 250px;
  }

  .text-block-5 {
    font-size: 18px;
  }

  .text-block-6 {
    font-size: 18px;
  }

  .grid {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .columns {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .columns-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column-3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column-4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .localisation {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    font-size: 1rem;
  }

  .div-block {
    width: 20px;
    height: 20px;
  }

  .exploration {
    margin-bottom: 0px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }

  .titre_principale {
    font-size: 24px;
    line-height: 30px;
  }

  .discover {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  .button_explorer {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }

  .fonctionnement {
    padding-right: 20px;
    padding-left: 20px;
  }

  .titre_section {
    padding-left: 0px;
    font-size: 22px;
  }

  .fonct_txt {
    font-size: 14px;
  }

  .fonct_nb {
    width: 25px;
    height: 25px;
    margin-left: -10px;
  }

  .fonct_one {
    font-size: 16px;
  }

  .fonct_phone {
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-bottom: 0px;
  }

  .fonct_menu {
    width: 25px;
    height: 25px;
  }

  .fonct_restaurant {
    width: 25px;
    height: 25px;
  }

  .restaurant {
    padding-right: 10px;
    padding-left: 10px;
  }

  .card_img_one {
    min-height: 150px;
  }

  .card_description {
    padding: 10px 20px;
  }

  .card_like {
    width: 20px;
    height: 20px;
  }

  .text-block-5 {
    margin-bottom: 5px;
  }

  .columns {
    margin-bottom: 0px;
  }

  .columns-2 {
    margin-top: 0px;
  }

  .card_img_two {
    min-height: 150px;
  }

  .card_like_colored {
    width: 20px;
    height: 20px;
  }

  .card_img_three {
    min-height: 150px;
  }

  .card_img_four {
    min-height: 150px;
  }

  .titre_section_two {
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
  }

  .propal_txt {
    font-size: 16px;
  }

  .text-block-8 {
    font-size: 16px;
  }

  .text-block-9 {
    font-size: 16px;
  }

  .partenariat_img {
    margin-right: 10px;
  }

  .partenariat_txt {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Shrikhand';
  src: url('../fonts/Shrikhand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}